footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 90px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer-time {
  font-size: 13px;
  margin-top: 16px;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

