<!-- header -->
<header>
  <div class="header-inner">
      <%# <img src="./image/common/logo-header.png" alt="KISSA"> %>
      <%= link_to image_tag("common/logo-header.png", class: "logo-header"), root_path%>
      <button class="toggle-menu-button"></button>
      <div class="header-site-menu"></div>
        <nav class="site-menu">
          <ul>
            <li><a href="./concept.html">CONCEPT</li>
            <li><a href="./menu.html">MENU</li>
            <li><a href="./shop.html">SHOP</li>
            <li><a href="./access.html">ACCESS</li>
          </ul>
        </nav>
  </div
