<!-- header -->
<header>
  <div class="header-inner">
      <%# <img src="./image/common/logo-header.png" alt="KISSA"> %>
      <a><%= link_to image_tag("common/logo-header.png", class: "logo-header"), root_path%></a>
      <button class="toggle-menu-button"></button>
      <div class="header-site-menu">
        <nav class="site-menu">
          <ul>
            <li>CONCEPT</li>
            <li>MENU</li>
            <li>SHOP</li>
            <li>ACCESS</li>
          </ul>
        </nav>
      </div>
  </div>
  </header>